table{border-collapse:collapse;width:100%; }
td,th{border:1px solid black; padding: 5px 15px;}

#CE_P1:disabled {
    color: #999; /* Change the text color */
    background-color: #fff; /* Change the background color */
    border: 1px solid #ccc; /* Change the border color */
    opacity: 1; /* Override the default opacity */
    pointer-events: auto; /* Override the default pointer-events value */
  }

  #CE_P2:disabled {
    color: #999; /* Change the text color */
    background-color: #fff; /* Change the background color */
    border: 1px solid #ccc; /* Change the border color */
    opacity: 1; /* Override the default opacity */
    pointer-events: auto; /* Override the default pointer-events value */
  }